[user]
    name = George Jensen
    email = george@gcjensen.uk

[init]
    defaultBranch = main

[color]
    diff = auto

[alias]
    a = add
    c = commit
    b = branch --show-current
    diffs = diff --staged

[core]
    pager = diff-so-fancy | less --tabs=4 -RFX

[diff-so-fancy]
    markEmptyLines = false
